name: Build Minecraft Forge Docker Image

on:
  push:
    paths:
      - 'Dockerfile'
      - 'forge-minecraft-linux-installer.sh'
      - 'server.properties'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-minecraft-forge:
    runs-on: arc-runner-set
    environment:
      name: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub (or your registry)
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: dxgxp/forge-minecraft:latest
          build-args: |
            FORGE_VERSION=1.21.8-58.0.1
